

<table class="table table-striped">
    @foreach (var item in ViewBag.accDetails)
    {
        <tr>
            <td> @item.accNo </td>
            <td> @item.accName </td>
            <td> @item.accType </td>
            <td> @item.accBalance </td>
            <td> @item.accIsActive </td>
        </tr>
    }
</table>